<h2 class="showcase__section-title">Dropdowns</h2>
              <p class="showcase__section-description">
                버튼을 클릭하여 링크와 옵션 목록을 표시하는 드롭다운 메뉴입니다.
              </p>

              <!-- Basic Dropdown -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Basic Dropdown</h4>
                </div>
                <div class="showcase__item-preview">
                  <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="dropdown-basic">Copy Code</button>
                  </div>
                  <pre><code id="dropdown-basic">&lt;div class="dropdown"&gt;
  &lt;button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"&gt;
    Dropdown button
  &lt;/button&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>

              <!-- Dropdown Variants -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Dropdown Color Variants</h4>
                </div>
                <div class="showcase__item-preview">
                  <div class="dropdown d-inline-block me-2">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown">
                      Success
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                  <div class="dropdown d-inline-block me-2">
                    <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown">
                      Danger
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                  <div class="dropdown d-inline-block">
                    <button class="btn btn-warning dropdown-toggle" type="button" data-bs-toggle="dropdown">
                      Warning
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="dropdown-variants">Copy Code</button>
                  </div>
                  <pre><code id="dropdown-variants">&lt;div class="dropdown"&gt;
  &lt;button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"&gt;
    Success
  &lt;/button&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>

              <!-- Split Dropdown -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Split Button Dropdown</h4>
                </div>
                <div class="showcase__item-preview">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary">Action</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                      <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                  </div>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="dropdown-split">Copy Code</button>
                  </div>
                  <pre><code id="dropdown-split">&lt;div class="btn-group"&gt;
  &lt;button type="button" class="btn btn-primary"&gt;Action&lt;/button&gt;
  &lt;button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"&gt;
    &lt;span class="visually-hidden"&gt;Toggle Dropdown&lt;/span&gt;
  &lt;/button&gt;
  &lt;ul class="dropdown-menu"&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Another action&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;hr class="dropdown-divider"&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="dropdown-item" href="#"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>

              <!-- Dropdown Directions -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Dropdown Directions</h4>
                </div>
                <div class="showcase__item-preview">
                  <div class="btn-group dropend me-2">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                      Dropend
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                  <div class="btn-group dropup me-2">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                      Dropup
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                  <div class="btn-group dropstart">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                      Dropstart
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                    </ul>
                  </div>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="dropdown-directions">Copy Code</button>
                  </div>
                  <pre><code id="dropdown-directions">&lt;!-- Dropend --&gt;
&lt;div class="btn-group dropend"&gt;
  &lt;button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"&gt;
    Dropend
  &lt;/button&gt;
  &lt;ul class="dropdown-menu"&gt;...&lt;/ul&gt;
&lt;/div&gt;

&lt;!-- Dropup --&gt;
&lt;div class="btn-group dropup"&gt;
  &lt;button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"&gt;
    Dropup
  &lt;/button&gt;
  &lt;ul class="dropdown-menu"&gt;...&lt;/ul&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>