<h2 class="showcase__section-title">Navs & Tabs</h2>
              <p class="showcase__section-description">
                네비게이션과 탭 컴포넌트입니다.
              </p>

              <!-- Basic Nav -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Basic Nav</h4>
                </div>
                <div class="showcase__item-preview">
                  <ul class="nav">
                    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link disabled">Disabled</a></li>
                  </ul>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="nav-basic">Copy Code</button>
                  </div>
                  <pre><code id="nav-basic">&lt;ul class="nav"&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link active" href="#"&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link disabled"&gt;Disabled&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
                </div>
              </div>

              <!-- Tabs -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Tabs</h4>
                </div>
                <div class="showcase__item-preview">
                  <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                  </ul>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="nav-tabs">Copy Code</button>
                  </div>
                  <pre><code id="nav-tabs">&lt;ul class="nav nav-tabs"&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link active" href="#"&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
                </div>
              </div>

              <!-- Pills -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Pills</h4>
                </div>
                <div class="showcase__item-preview">
                  <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
                  </ul>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="nav-pills">Copy Code</button>
                  </div>
                  <pre><code id="nav-pills">&lt;ul class="nav nav-pills"&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link active" href="#"&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
                </div>
              </div>