<h2 class="showcase__section-title">Offcanvas</h2>
              <p class="showcase__section-description">
                화면 측면에서 슬라이드되는 사이드바 컴포넌트입니다.
              </p>

              <!-- Basic Offcanvas -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Basic Offcanvas</h4>
                </div>
                <div class="showcase__item-preview">
                  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                    Open Offcanvas
                  </button>

                  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
                    <div class="offcanvas-header">
                      <h5 class="offcanvas-title">Offcanvas</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div class="offcanvas-body">
                      <div>
                        Some text as placeholder content.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="offcanvas-basic">Copy Code</button>
                  </div>
                  <pre><code id="offcanvas-basic">&lt;button class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"&gt;
  Open Offcanvas
&lt;/button&gt;

&lt;div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"&gt;
  &lt;div class="offcanvas-header"&gt;
    &lt;h5 class="offcanvas-title"&gt;Offcanvas&lt;/h5&gt;
    &lt;button type="button" class="btn-close" data-bs-dismiss="offcanvas"&gt;&lt;/button&gt;
  &lt;/div&gt;
  &lt;div class="offcanvas-body"&gt;
    Content here
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                </div>
              </div>