<h2 class="showcase__section-title">Navbar</h2>
              <p class="showcase__section-description">
                반응형 네비게이션 헤더입니다.
              </p>

              <!-- Basic Navbar -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Basic Navbar</h4>
                </div>
                <div class="showcase__item-preview">
                  <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Navbar</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="navbar-basic">Copy Code</button>
                  </div>
                  <pre><code id="navbar-basic">&lt;nav class="navbar navbar-expand-lg bg-light"&gt;
  &lt;div class="container-fluid"&gt;
    &lt;a class="navbar-brand" href="#"&gt;Navbar&lt;/a&gt;
    &lt;button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"&gt;
      &lt;span class="navbar-toggler-icon"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;div class="collapse navbar-collapse" id="navbarNav"&gt;
      &lt;ul class="navbar-nav"&gt;
        &lt;li class="nav-item"&gt;&lt;a class="nav-link active" href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
        &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#"&gt;Features&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>
                </div>
              </div>

              <!-- Dark Navbar -->
              <div class="showcase__item">
                <div class="showcase__item-header">
                  <h4>Dark Navbar</h4>
                </div>
                <div class="showcase__item-preview">
                  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Navbar</a>
                      <div class="collapse navbar-collapse">
                        <ul class="navbar-nav">
                          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
                          <li class="nav-item"><a class="nav-link" href="#">Features</a></li>
                        </ul>
                      </div>
                    </div>
                  </nav>
                </div>
                <div class="showcase__item-code">
                  <div class="showcase__item-actions">
                    <button class="btn-copy" data-copy="navbar-dark">Copy Code</button>
                  </div>
                  <pre><code id="navbar-dark">&lt;nav class="navbar navbar-expand-lg navbar-dark bg-dark"&gt;
  &lt;div class="container-fluid"&gt;
    &lt;a class="navbar-brand" href="#"&gt;Navbar&lt;/a&gt;
    &lt;ul class="navbar-nav"&gt;
      &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#"&gt;Home&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/nav&gt;</code></pre>
                </div>
              </div>